body {
    font-family: monospace;
    font-size: 20px;
    text-align: center;
    background-color:blanchedalmond;
}

#titlemarquee {
    font-size: 25px;
}

a:link {
    color: black;
    text-decoration: none;
}

a:visited {
    color: black;
    text-decoration: underline;
}

a:hover {
    color: black;
    text-decoration: underline;
}

#container1 {
    font-size: 20px;
}

#linuxdesc {
    text-align: left;
}