body {
    /* position: relative; cannot be used since it will be related to its child*/
    text-align: center;
    justify-content: center;
    background-size:cover;
}
body::before {
    content:"";
    background-image: url("https://media.proprofs.com/images/QM/user_images/2503852/New%20Project%20(54)(164).jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    filter: brightness(10%);
}

#text {
    position: relative;
    animation: text 10s linear infinite;
    font-size: 20px;
    font-family: monospace;
}

#titlemarquee {
    font-size: 25px;
}

a:link {
    animation: text 10s linear infinite;
    text-decoration: none;
}

.links {
    animation: text 10s linear infinite;
}

a:visited {
    text-decoration: underline;
}

a:hover {
    text-decoration: underline;
}

#container1 {
    font-size: 20px;
}

#linuxdesc {
    text-align: left;
}

#linkcontainer {
    position: relative;
}

@keyframes text {
    0% {
        color: red;
    }

    25% {
        color: lime;
    }

    75% {
        color: blue;
    }

    100% {
        color: red
    }

    /* 0% {
        color: rgb(255, 102, 0);
    }

    50% {
        color: black
    }

    100% {
        color: rgb(255, 102, 0);
    } */
}

.spacers {
   display: inline-block;
} 

/* #background {
    content: "";
    position: absolute ;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-image: url("https://media.proprofs.com/images/QM/user_images/2503852/New%20Project%20(54)(164).jpg");
    background-size: cover;
    filter: brightness(10%);
    display: flex;
} */
