body {
    font-family: monospace;
    font-size: 20px;
    text-align: center;
    background-color: black;
    /* background-color:#FFDEAD; */
    animation: text 10s linear infinite;
}

#titlemarquee {
    font-size: 25px;
}

a:link {
    animation: text 10s linear infinite;
    text-decoration: none;
}

.links {
    animation: text 10s linear infinite;
}

a:visited {
    color:rgb(255, 102, 0);
    text-decoration: underline;
}

a:hover {
    color:rgb(255, 102, 0);
    text-decoration: underline;
}

#container1 {
    font-size: 20px;
}

#linuxdesc {
    text-align: left;
}

main {
    animation: text 10s linear infinite;
}

@keyframes text {
    0% {
        color: red;
    }

    25% {
        color: lime;
    }

    75% {
        color: blue;
    }

    100% {
        color: red
    }

    /* 0% {
        color: rgb(255, 102, 0);
    }

    50% {
        color: black
    }

    100% {
        color: rgb(255, 102, 0);
    } */
}

.spacers {
    display: inline-block;
}
